<footer class="mt-auto">
    <div class="info">
        <p>TravelNest Private Limited</p>
        <i class="fa-regular fa-copyright"></i>2026 TravelNest, Inc
    </div>
    <div class="social-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="links">
        <a href="#">Privacy policy</a>  
        <a href="#">Terms and Condition</a>  
        <a href="#">Company Details</a>  
        <a href="#">Sitemap</a> 
    </div>
</footer>